$black: black;
$red: #be1d2c;
$redhero: rgba(190, 29, 44, 0.75);
$lightgrey: rgba(239, 239, 239, 1);

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

// main css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  min-height: 100%;
  background-color: #fafafa;
}

b {
  font-weight: bold;
}

p {
  font-weight: 400;
  font-size: 1em;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}

h4 {
  font-size: 1rem;
  font-family: "Titillium Web", sans-serif;
}

.container {
  width: 100%;
  padding: 50px 0px;
}

.row {
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  
}

.center-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-txt {
  text-align: center;
}

.column-padding {
  padding: 30px;
}

.text-para {
  margin-bottom: 30px;
}


.fixed {
  position: fixed !important;
  right: 25px;
}

.column__text {
  width: 100%;
  padding: 0px 25px;
}

/* -----HEADER----- */

header {
  position: relative;
  min-height: 500px;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.header-wrapper {
  background: $red;
}

nav {
  position: relative;
  background: black;

  .nav-wrapper {
    background: $black;
    display: flex;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 2;
    max-width: 1060px;
    margin: auto;

    a.logo img {
      width: 80px;
    }

    a.logo {
      width: 80px;
      height: 54px;
    }

    .mobile-menu {
      display: flex !important;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;
      text-align: center;
      bottom: 0px;
      background: black;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      margin-left: -20px;
    }

    li {
      float: left;
      line-height: 15vh;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: "Titillium Web", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3em;
      transition: background-color 0.2s linear;
    }

    li a:hover {
      color: black;
      background-color: $redhero;
    }
  }
}

/* -----HAMBURGER----- */

#hamburger {
  width: 60px;
  height: 32px;
  display: block;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $red;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 14px;
  }

  span:nth-child(3) {
    top: 28px;
  }
}

#hamburger.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* -----HERO CONTENT----- */

.header__hero {
  height: calc(100% - 70px);
}

.header__hero__text {
  h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
  }

  h4 {
    font-size: 1.3rem;
    color: $lightgrey;
    font-weight: 300;
  }
}

.header__hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.header__hero__mainpage {
  background-color: $redhero;
}

.header__hero__mainpage::before {
  background: url("/assets/images/Spec.market.jpg") no-repeat center center /
    cover;
}

.header__hero__festool::before {
  background: url("/assets/images/elektronarzenia-festool-header.jpg") no-repeat
    center center / cover;
}

.header__hero__tikkurila::before {
  background: url("/assets/images/tikkurila-header.jpg") no-repeat center center / cover;
}

.hero__text__wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

/* -----CONTENT----- */

.underline::after {
  content: "";
  height: 4px;
  width: 200px;
  background-color: $red;
  display: flex;
  position: relative;
  margin: 10px auto;
  border-radius: 10px;
  margin-bottom: 25px;
}

.icons {
  bottom: 0px;
  margin-top: 30px;
  color: white;
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  a {
    color: white;
    text-decoration-color: white;
  }
}

.opening,
.phone {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  p {
    font-size: 20px;
    padding-left: 20px;
    font-family: "Titillium Web", sans-serif;
  }
}

#tikurilla {
  background-image: linear-gradient(to bottom right, #5a5a5a, #636363);

  .logo-brand {
    width: 250px;
    margin: 0 auto;
  }

  p {
    color: #efefef;
    margin-top: 25px;
  }
}

#festool {
  background-color: #efefef;
  color: #5a5a5a;

  .logo-brand {
    width: 250px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
}

// Arrow - jump to section beneath + animation
.header__arrowdown {
  position: absolute;
  bottom: 20px;
}

.jump {
  animation-name: jump;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header__logo {
  margin-top: 25px;
  max-width: 300px;
}

img.row__images {
  width: 100%;
  height: 100%;
}

#contact {
  background: url("/assets/images/contact-bg.jpg") no-repeat center / cover;
  margin-top: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
  
  h2 {
    color: white;
    font-size: 3rem;
  }

  .underline::after {
    background-color: $black;
  }

  .column__text__map {
    width: 100%;
  }

  .column__contact-info {
    padding: 0px 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column__text_contact__icon p, .column__text_contact__icon a{
    color: white;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.0em;
  }

  .column {
    flex-basis: 50%;
  }

  .reverse-column {
    flex-flow: row-reverse;
  }
}

@media (min-width: 560px) {
  .header__hero__big_text {
    h2 {
    font-size: 4rem;
    }
  }
}

@media (min-width: 1080px) {
  p {
    font-size: 1.3em;
  }
  
  .column-padding {
    padding: 50px;
  }

  .column {
    flex-basis: 50%;
  }

  .reverse-column {
    flex-flow: row-reverse;
  }

  #hamburger {
    display: none;
  }

  nav .nav-wrapper ul {
    display: flex;
    width: auto;
    flex-direction: row;
    height: 50px;
    position: block;
    top: 0px;
    z-index: 0;
    position: relative;

    li {
      line-height: 1.5em;
    }
  }
}

