$black: black;
$red: #be1d2c;
$redhero: rgba(190, 29, 44, 0.75);
$lightgrey: rgba(239, 239, 239, 1);

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-500px)
  }

  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px)
  }

  50% {
    transform: translateY(-20px)
  }

  100% {
    transform: translateX(0px)
  }
}

// main css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 17px;
  min-height: 100%;
}

b {
  font-weight: bold;
}

p {
  font-weight: 400;
}

h2 {
  font-size: 2.0rem;
  text-transform: uppercase;
  margin: 0px;
}

h4 {
  font-size: 1rem;
  font-family: 'Titillium Web', sans-serif;

}

.container {
  width: 100%;
  padding: 50px 0px;
}

.row {
  max-width: 1200px;
  margin: auto;
  padding: 50px 25px;
}

.txt-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.text-para {
  margin-bottom: 30px;
}

.column__image {
  img {
    width: 100%;
  }
}

.fixed {
  position: fixed !important;
  right: 25px;
}

/* -----HEADER----- */

header {
  position: relative;
  min-height: 500px;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.header-wrapper {
  background: $red;
}

nav {
  position: relative;
  background: black;

  .nav-wrapper {
    background: $black;
    display: flex;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 2;
    max-width: 1200px;
    margin: auto;

    a.logo img {
      width: 80px;
    }

    a.logo {
      width: 80px;
      height: 54px;
    }

    .mobile-menu {
      display: flex !important;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;
      text-align: center;
      bottom: 0px;
      background: black;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      margin-left: -20px;
    }

    li {
      float: left;
      line-height: 15vh;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: 'Titillium Web', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }

    li a:hover {
      color: $red;
    }
  }
}

/* -----HAMBURGER----- */

#hamburger {
  width: 60px;
  height: 32px;
  display: block;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $red;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 14px;
  }

  span:nth-child(3) {
    top: 28px;
  }
}

#hamburger.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* -----HERO CONTENT----- */

.header__hero {
  height: calc(100% - 70px);
  background-color: $redhero;
}

.header__hero__text {
  h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
  }

  h4 {
    font-size: 1.5rem;
    color: $lightgrey;
    font-weight: 300;
  }
}

.header__hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.header__hero__mainpage::before {
  background: url("/assets/images/Spec.market.jpg") no-repeat center center / cover;
}

.header__hero__festool::before {
  background: url("/assets/images/elektronarzenia-festool-header.jpg") no-repeat center center / cover;
}

/* -----CONTENT----- */



.underline::after {
  content: "";
  height: 4px;
  width: 200px;
  background-color: $red;
  display: flex;
  border-radius: 10px;
  margin-bottom: 25px;
}

.icons {
  bottom: 0px;
  position: absolute;
  margin-bottom: 25px;
  color: white;
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  a {
    color: white;
    text-decoration-color: white;
  }
}

.opening,
.phone {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  p {
    font-size: 25px;
    padding-left: 20px;
    font-family: 'Titillium Web', sans-serif;
  }

  .opening__text {}
}




#tikurilla {
  background-color: #5a5a5a;

  img:nth-child(1) {
    width: 250px;
  }

  p {
    color: #efefef;
    margin-top: 25px;
  }
}

#festool {
  background-color: #efefef;
  color: #5a5a5a;

  img:first-child {
    width: 250px;
    margin-bottom: 25px;

  }
}

// Arrow - jump to section beneath + animation
.header__arrowdown {
  position: absolute;
  bottom: 20px;
}

.jump {
  animation-name: jump;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

.header__logo {
  margin-top: 25px;
  max-width: 300px;
}

img.row__images {
  width: 100%;
  border-radius: 20px;
}

#contact {


  .column__text__map {
    width: 100%;
  }

  .column__text__contact img {
    color: red;
  }

  .column__text_contact__icon {
    margin-top: 100px;
  }

  .reverse__mobile {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1090px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 65px;
    justify-items: center;
  }

  #hamburger {
    display: none;
  }

  nav .nav-wrapper ul {
    display: flex;
    width: auto;
    flex-direction: row;
    height: 50px;
    position: block;
    top: 0px;
    z-index: 0;
    position: relative;

    li {
      line-height: 1.5em;
    }
  }
}